body {
  background-image: url("image/newspaper.jpg");
  background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: black;
    box-sizing: border-box;
    font-family: Georgia;
  }

  main {
    flex: 1 0 auto;
  }

  .save {
    margin-top: 12%;
  }

  .note {
    margin-top: 10%;
  }

  h1 {
    margin: 5.1rem 0 2.68rem 0;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .footer-copyright > .container {
    color: black;
    /*background-color: white;*/
  }
  .footer-copyright > .container > .right {
    color: black;
  }

  .footer-copyright {
    color: white;
    height: 64px;
  }

  .waves-effect {
    border-radius: 10px;
  }

  nav .brand-logo {
    letter-spacing: 3px;
    color: black;
  }

  #nav-mobile {
    letter-spacing: 1px;
    margin-right: 3%;
  }

  nav ul a {
    letter-spacing: 2px;
    color: black;
  }

  nav {
    height: 100px;
    line-height: 100px;
    text-shadow: 1%;
  }

  #mobile-demo li>a {
    letter-spacing: 1px;
    font-size: 1.5em;
  }

  #wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 7%;
    padding: 2%;
    border: 1px solid white;
    background-color: white;
    /*opacity: .5;*/
    border-radius: 50px;
  }

  #wrapper > h2 {
    padding-left: 4%;
    font-weight: 600;
  }

  #articles {
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: auto;
    border: 1px solid white;
    padding: 3%;
  }

  #savedArticles {
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: auto;
    border: 1px solid white;
    padding: 3%;
  }

  #notes {
    /*float: right;*/
    width: 39%;
    border: 1px solid white;
    background: white;
  }

  textarea, input {
    display: block;
    width: 100%;
  }

  input {
    height: 36px;
    font-size: 24px;
    color: black;
  }

  textarea {
    height: 200px;
    font-size: 18px;
  }

  @media only screen and (max-width: 1440px) {
    nav .brand-logo {
      left: 3%;
    }
  }

  @media only screen and (max-width: 993px) {
    nav .brand-logo {
      left: 50%;
    }
  }

  @media only screen and (min-width: 601px) {
    wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 100px;
      line-height: 100px;
    }
  }

  nav .button-collapse i {
      height: 100px;
      line-height: 100px;
      color: black;
  }
